<h1><%= @pirate.name %></h1>
<h2><%= @pirate.weight %>lbs</h2>
<h2><%= @pirate.height %>ft</h2>

<% @ships.each do |ship| %>
  <h2><%= ship.name %></h2>
  <h3><%= ship.type %></h3>
  <h3><%= ship.booty %></h3>
<% end %>
